<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Serverless Function Demo</title>

    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=Nunito" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/sweetalert2.min.css"/>
</head>
<body>
    <div id="app">
        <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
            <div class="container">
                <a class="navbar-brand" href="#">
                    Serverless Function Demo
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{{ __('Toggle navigation') }}">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>

        <main class="py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="card mb-5">
                            <div class="card-header">Image Resizer</div>
                            <div class="card-body">
                                <div class="row">
                                    <form method="GET" id="image_resizer_form" enctype="multipart/form-data">
                                        <div class="form-group mb-3">
                                            <label for="selected_image" class="form-label">Image</label>
                                            <input class="form-control" type="file" name="selected_image" accept="image/*" required>
                                        </div>

                                        <div class="form-group mb-5">
                                            <label for="width">Width and Height</label>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input type="number" class="form-control" name="width" placeholder="Width" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="number" class="form-control" name="height" placeholder="Height" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group d-flex flex-row-reverse">
                                            <button type="submit" class="btn btn-lg btn-primary image-resizer-submit-btn">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">Output</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 d-flex justify-content-center">
                                        <img src="#" id="output_image" alt="Output image goes here!">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

<script type="text/javascript" src="js/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/sweetalert2.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</html>
